* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #6e5773;
}

.header {
  background-color: #d45079;
  color: #e9e1cc;
  padding: 20px;

  font-family: 'Press Start 2P', cursive;


  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.button{
  display: block;
  text-decoration: none;
  color: #ea9085;
  font-size: 20px;
  height: 100%;
  transition: all ease 0.2s;
  transform: translateY(25%);
  filter: drop-shadow(1px 1px black);

}



.title {
  font-size: 30px;
}

.button:hover {
  transform: translateY(10%);
}



:root {
  --inner: black;
  --border: black;
  --accent: beige;
}
.carousel {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  overflow: hidden;
  width: 70%;
  
  padding: 30px;

}

.scrollBtn {
  outline: none;
  border: none;
  width: 10%;
  background-color: transparent;
  color: white;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carousel-container {
  width: 100%;
  background-color: black;
  overflow: hidden;
  box-shadow:
  /* Inner Background Color -- Same as inner */
    0   -6px 0  -2px var(--inner),
    0    6px 0  -2px var(--inner),
    0  -12px 0  -4px var(--inner),
    0   12px 0  -4px var(--inner),
    0  -18px 0  -8px var(--inner),
    0   18px 0  -8px var(--inner),
    0  -24px 0 -12px var(--inner),
    0   24px 0 -12px var(--inner),
  
  /* Inner Border */
   -2px  0   0   0   var(--border),
    2px  0   0   0   var(--border),
    0   -4px 0   0   var(--border),
    0    4px 0   0   var(--border),
    0  -10px 0  -2px var(--border),
    0   10px 0  -2px var(--border),
    0  -14px 0  -4px var(--border),
    0   14px 0  -4px var(--border),
    0  -20px 0  -8px var(--border),
    0   20px 0  -8px var(--border),
    0  -26px 0 -12px var(--border),
    0   26px 0 -12px var(--border),
  
  /* Middle Border -- Accent */
   -4px  0   0   0   var(--accent),
    4px  0   0   0   var(--accent),
    0   -2px 0   2px var(--accent),
    0    2px 0   2px var(--accent),
    0   -8px 0   0px var(--accent),
    0    8px 0   0px var(--accent),
    0  -12px 0  -2px var(--accent),
    0   12px 0  -2px var(--accent),
    0  -16px 0  -4px var(--accent),
    0   16px 0  -4px var(--accent),
    0  -22px 0  -8px var(--accent),
    0   22px 0  -8px var(--accent),
    0  -28px 0 -12px var(--accent),
    0   28px 0 -12px var(--accent),
  
  /* Outer Border */
   -6px  0   0   0   var(--border),
    6px  0   0   0   var(--border),
    0    0   0   4px var(--border),
    0   -6px 0   2px var(--border),
    0    6px 0   2px var(--border),
    0  -10px 0   0   var(--border),
    0   10px 0   0   var(--border),
    0  -14px 0  -2px var(--border),
    0   14px 0  -2px var(--border),
    0  -18px 0  -4px var(--border),
    0   18px 0  -4px var(--border),
    0  -24px 0  -8px var(--border),
    0   24px 0  -8px var(--border),
    0  -30px 0 -12px var(--border),
    0   30px 0 -12px var(--border);
}

.carousel-slide {
  display: flex;
  
}

.carousel-slide img {
  width: 100%;
  border-radius: 20px;
}

